langchain==0.0.166
chromadb==0.3.22
llama-cpp-python==0.1.48
urllib3==1.26.6
pdfminer.six==20221105
InstructorEmbedding

# required by sentence-transformers
# do not use the following in windows. it will cause
# "Throws a silent error if function takes more than 5 seconds #3078" issue https://github.com/gradio-app/gradio/issues/3078
# --extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentence-transformers
faiss-cpu
huggingface_hub
transformers
protobuf==3.20.0
accelerate
bitsandbytes
# click
openpyxl
loguru
gradio
charset-normalizer
PyPDF2
epub2txt
docx2txt

about-time
openai
more-itertools
# tqdm

pygpt4all